@keyframes bell-shake {
    0% {

        transform: translate(-50%, -50%);

    }

    5%, 15% {

        transform: translate(-50%, -50%) rotate(25deg);

    }

    10%, 20% {

        transform: translate(-50%, -50%) rotate(-25deg);

    }

    25%  {

        transform: translate(-50%, -50%) rotate(0deg);

    }

    100% {

        transform: translate(-50%, -50%) rotate(0deg);

    }
}

.animate-bell {
  animation: bell-shake 1s infinite;
}